<% extend('layout') %>
<% for(let i = 0; i < data.length; i++) { %>
<div class="row detail-row">
    <div class="col-xs-6 col-lg-2 detail-label"><%= data[i].label %></div>
    <div class="col-xs-6 col-lg-5">
    <% if (data[i].label === "キーワード") { -%>
        <% for(let j = 0; j < data[i].value.length; j++) { -%>
            <span class="tag"><a href="/abemabase/tag/<%= data[i].value[j] %>"><%= data[i].value[j] %></a></span>
        <% } -%>
    <% } else { -%>
        <%= data[i].value %>
    <% } -%>
    </div>
</div>
<% } %>

